#statements div{
    width: 30%;
}

@media (max-width: 1200px){
    #statements{
        flex-direction: column;
        justify-content: center;
        div{
            width: 80%;
            margin: 0px auto;
        }
    }
}

#stats div h1{
    color: $color-gold;
    font-size: 60px;
}

#about-wrap{
    text-align: center;
    position: relative;
    .team{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        div{
            text-align: center; 
            padding: 10px 20px;
            width: 360px;
            .av-wrap{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: $color-cream;
                margin: 0px auto;
                overflow: hidden;
                border: 1px solid $color-gold;
                padding: 0;
                position: relative;
                img{
                    width: 150px;
                    position: absolute;
                    @extend .h-center;
                }
            }
            h3{
                @extend .playfair, .gold;
            }
            span{
                @extend .playfair, .i ;
            }
            p{
                @extend .long-text ;
            }
        }     
    }
}

.long-par{
    text-align: center;
}

#stats div{
    position: relative;
    h1{
        color: white;
    }
    h1::before{
        content: '';
        background-color: $color-gold;
        height: 100px;
        width: 100px;
        display: block;
        position: absolute;
        border-radius: 50%;
        left: 50%; top: 45%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}

@media (max-width: 1520px){
    .team div{
        margin: 0px auto;
    }
}