.sliderBtns{
  position: absolute;
  @extend .fontawesome, .b, .xlg-text ;
  width: 50px;
  height: 50px;
  color: #fff;
  z-index: 9999;
  top: 50%;
  &:hover{
    color: $color-gold;
    cursor: pointer;
  }
}

.slider{
  background-color: rgba(0,0,0,1);
  max-height: 700px ;
  position: relative;
  overflow: hidden;
  width: 100%;
  
  #slideprev{
    &::before{
      content: '\f104';
      @extend .sliderBtns ;
      left: 30px;
    }
  }

  #slidenext{
    right: 0px !important;
    display: block;
    &::before{
      content: '\f105';
      @extend .sliderBtns ;
      right: 30px;
    }
  }

  .slides{
    width: 100vw;
    height: 700px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    img{
      width: 100%;
      opacity: .6;
    }
    .caption{
      width: 100%;
      color: $color-gold;
      position: absolute;
      left: 50%;
      bottom: 0px;
      padding: 50px 0px 50px 0px;
      background-image:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7));
      @extend .playfair-lg, .h-center, .align-center ;
      h1{
        width: 50%;
        margin: 0px auto;
        text-shadow: 1px 1px 2px #000;
      }
      span{
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

.hero-slider{
  top: 0px;
  width: 100%;
  height: 100vh;
}

#sliderWrap{
  position: absolute;
  width: 300%;
  overflow: hidden;
  left: 0%;
  transition: .3s ease-in-out all;
}

@media screen and (max-width: 600px){
  .slides{
    height: 100vh;
    img{
      width: auto !important;
      height: 100vh;
      margin: 0px auto;
    }

    .caption{
      width: 80vw;
      left: 20px;
      // bottom: 0px !important;
      h1{
        font-size: 18px !important;
        text-align: align-center !important;
      }
    }
  }
}