#header{
  position: absolute;
  top: 40px;
  @extend .h-center ;
  z-index: 9999;
  width: 100%;
  max-width: 1400px;
  height: 85px;
  @extend .fl-btw ;
  align-items: center;
//   background-color: $color-cream;
  padding: 20px 20px;
  box-sizing: border-box;
  .header-sides{
      @extend .fl-col-btw ;
      @extend .playfair-m ;
      width: calc(50% - 100px);
      color: $color-gold;
      div{
          height: 20px;
      }
      hr{
          width: 100%;
          border: .75px solid $color-gold;
          @extend .mg-v-5 ;
      }
      .top{
          width: 80%;
          span{
              display: inline-block;
          }
      }
  }
  #right-header{
      align-items: flex-end;
  }
  .logo-box{
      text-align: center;
      width: 75px;
      height: 75px ;
      .logo{
          width: 100%;
          
      }
  }
}


#mobileMenuBar{
    position: fixed !important;
    top: 0px;
    left: 0px;
    width: 100%; height: 100vh;
    background-color: $color-cream;
    display: none;

    #menu-items{
        width: 100%;
        span{
            display: block;
            @extend .pd-20;
            cursor: pointer;
            &:hover{
                background-color: rgba(0,0,0,0.2);
            }
        }
    }
    #close-btn{
        position: absolute;
        top: 30px;
        right: 20px;
        &:hover{
            color: $color-gold;
            cursor: pointer;
        }
    }
}

@media (min-width: 768px){
    #mobileMenu{
        display: none;
    }
    #mobileMenuBar{
        display: none;
    }
}


@media (max-width: 768px){
    #right-header, #left-header{
        display: none !important;
    }

    #header{
        top: 20px;
    }
    
}




.countdownBar{
    position: absolute;
    top:0px;
    height: 40px;
    width: 100%;
    background-color: $color-gold;
    z-index: 999999;
    text-align: center;
    color: white;
    padding-top: 12px;
    box-sizing: border-box;
    .counterWrap{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px auto;
        h2{
            font-size: 16px;
            margin: 0;
        }
    }

    .timers{
        font-size: 16px;
        margin: 0px 5px;
    }

    #clock{
        display: flex;
        flex-direction: row;
    }

    #dayTimer::after{
        content: ' Days';
    }
    
    #hourTimer::after{
        content: ' Hours';
    }
    
    #minTimer::after{
        content: ' Minutes';
    }
    
    #secTimer::after{
        content: ' Seconds';
    }

    .dayTimer::after{
        margin-left: 10px;
    }
}

@media (max-width: 500px){
    .countdownBar{
        height: 60px;
    }
}