.articleItem{
    .articleItemImg{
        width: 48%;
        background-color: $color-cream;
        border: 1px solid $color-gold;
        max-height: 300px;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
    .articleItemInfo{
        width: 50%;
    }
}

.articleImg{
    background-color: $color-cream;
    overflow: hidden;
    max-height: 600px;
    img{
        width: 100%;
    }
}

.article{
    width: 80%;
    margin: 0px auto;
    position: relative;
    top: 150px;
    .text-wrapper{
        width: 80%;
        display: flex;
        .long-text{
            width: 80%;
            text-align: justify;
        }
        .author{
            padding-top: 50px;
            width: 30%;

            .author_socials{
                a{
                    display: inline-block;
                    margin: 0px 5px;
                }
            }
        }
    }
}