.articleItem{
    .articleItemImg{
        width: 48%;
        background-color: $color-cream;
        max-height: 300px;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
    .articleItemInfo{
        width: 50%;
    }
}

.articleImg{
    background-color: $color-cream;
    overflow: hidden;
    max-height: 600px;
    img{
        width: 100%;
    }
}

.article{
    width: 100%;
    margin: 0px auto;
    position: relative;
    .text-wrapper{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        margin: 0px auto;
        .long-text{
            width: 70%;
            text-align: justify;
        }
        .author{
            padding-top: 50px;
            width: 30%;
            #authorAvatar{
                width: 75px;
                height: 75px;
                border-radius: 50%;
                background-color: pink;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
            .author_socials{
                a{
                    display: inline-block;
                    margin: 0px 5px;
                }
            }
        }
    }
}


@media (max-width: 767px){
    .articleItem{
        .articleItemImg{
            width: 100%;
        }
        .articleItemInfo{
            width: 100%;
        }
    }
    .article{
        .text-wrapper{
            .long-text{
                width: 100%;
            }
            .author {
                width: 100%;
            }
        }
    }
        
}