.video-section{
    width: 644px;
}

.videoContainer{
    width: 644px;
    height: 362px;
    background-color: #000;
    iframe{
        width: 100%;
        height: 100%;
    }
}

.music-section{
    width: calc(100% - 694px);
    min-width: 300px;
}

.musicContainer{
    background-color: $color-cream;
    width: 100%;
    height: 362px;
}

@media(max-width: 768px){
    .video-section, .videoContainer{
        width: 100%;
    }
}

@media(max-width: 1080px){
    .music-section{
        width: 100%;
    }
}


// CLIENTELE SECTION
.client{
    width: 260px;
    height: 260px;
    border: 1px solid rgba(112,112,112, .15);
    .imgwrap{
        width: 100%;
        height: 80%;
        overflow: hidden;
        position: relative;
        img{
            @extend .h-center, .absolute;
            background-color: #707070;
            width: 100%;
            object-fit: fill;
        }
        div{
            bottom: 10px;
            text-align: center;
        }
    }
}

.emptyimg{
    background-color: $color-cream;
    width: 100%;
    height: 80%;
}

.big-client{
    @extend .client ;
    width: 100%;
    height: 560px;
}

// SHOP SECTION

#item-catalogue{
    #big-item{
        width: 45%;
    }

    #small-items{
        width: 45%;
    }
}   