#bioImg{
    width: 500px;
}

#bioImgWrap{
    width: 485px;
    background-color: $color-cream;

    img{
        width: 100%;
    }
}

.socials i{
    @include margin(0px 15px 0px 0px);
    cursor: pointer;
    &:hover{
        color: $color-gold;
    }
}

#BioText{
    @include padding(0px 50px);
    // width: calc(100% - 600px);
    p{
        line-height: 28px;
        font-size: 16px;
    }
    li{
        list-style: none;
        &::before{
            content: '\f105';
            @extend .fontawesome ;
            @include margin(0px 10px 0px 0px);
        }
    }
}